.catnip {
    .frame {
        border: thin solid rgba(0, 0, 0, .5);
        border-radius: .5em;
        padding: .5em;
        background-color: var(--frameColor);
        --primaryColor: white;
        box-shadow: .125em .125em .5em rgba(0, 0, 0, .5);
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header header" "code   stack" "locals locals";
        opacity: 0.75;
        filter: grayscale(.8);
        &.current {
            opacity: 1;
            filter: none;
        }
        &>header {
            grid-area: header;
            text-align: center;
            font-weight: bold;
            &::before {
                content: '📦 '
            }
            border-bottom: thin solid rgba(0, 0, 0, .5);
        }
        ul.code {
            grid-area: code;
            margin: .25em;
        }
        .stack {
            grid-area: stack;
            align-self: end;
            margin: .25em;
            box-shadow: .06125em .06125em .25em rgba(0, 0, 0, .5);
        }
        .locals {
            grid-area: locals;
            margin: .25em;
            box-shadow: .06125em .06125em .25em rgba(0, 0, 0, .5);
        }
    }
}