.catnip {
  --primaryColor: teal;
  --frameColor: #4c2b70;
  * {
    margin: 0;
    padding: 0;
    color: var(--primaryColor);
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  main {}
  button {
    padding: .125em .25em;
    border-radius: .25em;
    outline: none;
  }
  menu {
    text-align: right;
  }
  details {
    padding: .25em;
    summary {
      cursor: pointer;
    }
  }
}

@import "partials/constants";
@import "partials/frames";
@import "partials/frame";
@import "partials/code";
@import "partials/locals";
@import "partials/stack";
@import "partials/args";